<div class="container">
  <div id="actions" style="margin:auto;width:500px;text-align:center">
    <h1> Creating a new crowdsourcing app </h1>
    <p style="margin-top:10px;">
      Create a crowdsourcing app in few minutes: clone existing apps (data+code), edit online the code or the data and embed your app on your own web site like a youtube video. Zero installation/server is required thanks to the cloud infrastructure.
    </p>
    <p>
      <a href="/apps/new" class="btn btn-primary btn-large"> from scratch</a>
      <a href="/apps" class="btn btn-large">Clone an app</a>
    </p>
  </div>
</div>

<!--
<div class="container">
       <h4> How does it work internally?</h4>
          Once the indexation of the GF tasks table done and a GF answers table generated, the framework will organize the tasks using a <i>parallel model</i>.
          <br/>In a parallel model, a set of volunteers performs independently the same task.
          So, according to the redundancy criteria provided during the creation of the app, each task will be assigned to 1 or several users. furthermore in this model a post data processing is generally required to aggregate the answers of different users (e.g. average or consensual) in order to generate a collective output.

          <br/>A parallel model is generally fine for simple tasks but certainly limited for more complex ones.  <a href="http://nico.maisonneuve.free.fr/blog/index.php/2012/crowdsourcing-satellite-imagery-part-2-iterative-vs-parallel-human-organisations/">Other models of organisation</a> are possible and a "organisation design" tool will be developed if I have time. Below an example of a parallel model to annotate maps collaboratively, fitting with the GIS

          <img src="https://docs.google.com/uc?id=0B1tvqho7IAWdYWJjdWhQdll2TUU" class="span7"/>

    <img src='/assets/architecture.jpg' style='width:100%;border:1px solid black' />
   <div class="span3">
        <img src="https://docs.google.com/drawings/pub?id=1fvbDL2pcMHqWn9B8o1D33EPAdF3vK7-UozXpEbn8XyQ&amp;w=800" class="span6">

      <img src="https://docs.google.com/drawings/pub?id=1b7udWkfMXof2l-jzzYV6FThdupTpIPZEVULsfnM8hak&amp;w=350&amp;h=600">

    </div>
</div>
 -->
